.navbar-container {
    width: 100%;
    padding: 10px;
    background-color: #222;
}

.navbar {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
    margin: 0;
}

.logo-title {
    margin-left: -20px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.links-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.favorites-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.favorites-link:hover {
    color: #ff7500;
}

.pfp {
    border-radius: 50px;
    width: 50px;
}
