.song-container, .rec-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.albumPic {
    border-radius: 20px;
    display: block;
    margin: auto;
    margin-top: 2%;
    width: 20%;
}

.subheader {
    text-decoration: none;
    text-align: center;
}

.song {
    margin-top: 5px;
}

.artist {
    margin-top: -10px;
}

.song-data-table{
    width: 80%;
    table-layout: fixed;
    border-collapse: separate;
    padding: 1%;
    margin: auto;
}

.song-data-headings {
    font-weight: 250;
}

.song-data-entries {
    font-size: x-large;
    text-align: center;
}

.rec-header {
    font-size: x-large;
    margin-bottom: -1%;
}

.rec-table {
    width: 90%;
    table-layout: fixed;
    border-collapse: separate;
    padding: 1%;
    margin: auto;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #ff7500;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #ff7500;
}

.card {
    width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.4);
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
}
  
.card:hover {
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255,0.9);
}

.song-rec-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.song-rec-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.big-btn {
    color: #fff;
    background-color: #ff7500;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 18px 48px 16px;
    transition-property: background-color;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
}

.buttons {
    width: 90%;
    table-layout: fixed;
    border-collapse: separate;
    /* padding: 1%; */
    margin: auto;
}

.button-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    padding: 1%;
    margin: auto;
    margin-top: -2%;
}